*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #fff;
}

body{
    background-color: #F0F2F5;
    height: 100vh;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 16px;

    height: 15vh;

    background-color: #8257E5;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 16px;

    height: 15vh;

    background-color: #8257E5;
}

#conta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

strong{
    color: black;
}

#container-info{
    display: flex;
    align-items: center;

    padding: 48px;

    margin: 88px 0px;
}

#container-text{
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    height: 240px;
}

#left-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    color: #999999;
}
.botao{
    background-color: #04D361;
    border-radius: 10px;
    border-style: none;

    font-size: 16px;

    height: 50px;
    width: 185px;
}.botao:hover{
    transition: 0.3s;
    background-color: #12fb7b;
}

#right-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0px;
}

#right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0px;
}

#categoria{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #B59BF0;
    border-radius: 10px;
    border-style: none;

    font-size: 16px;
    color: #8257E5;

    height: 50px;
    width: 185px;
}

#todoList{
    
}

#container-info{
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}

.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 32px;
    width: 480px;

    background-color: #fff;
    border-radius: 10px;
    padding: 15px;

    margin: 10px 0 10px 0;
}.todoItem > div{
    color: black;
}

.top{
    padding: 0 5px 5px 5px;
    display: flex;
    justify-content: space-between;
}.top > input{
    color: black;
    border: none;
    height: 25px;
    width: 300px;
}.top > button{
    height: 25px;
    width: 80px;
    background-color: #12fb7b;

    border: none;
    border-radius: 6px;
}.top > button:hover{
    background-color: #04D361;

}

.close-button{
    border: none;
    border-radius: 10%;

    height: 24px;
    width:  24px;

    color: black;
    padding: 3px;    
}.close-button:hover{
    background-color: #8257E5;
    color: white;

    transition: 0.3s;
}